<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% seo %}
    {% include head-custom.html %}
</head>

<body>
    <div id="container">
        <div class="inner">

            <header>
                <h1>About</h1>
                <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
            </header>
            <section id="downloads" class="clearfix">
                {% if site.show_downloads %}
                <a href="{{site.baseurl}}/index" id="home" class="button"><span>Home</span></a>
                <a href="{{ site.github.paper_url }}" id="download-zip" class="button"><span>Paper</span></a>
                <a href="{{ site.github.code_url }}" id="view-on-github" class="button"><span>Code</span></a>
                <a href="{{ site.github.demo_url }}" id="demo" class="button"><span>Demo</span></a>  
                <a href="{{site.baseurl}}/qa-page" id="qa" class="button"><span>Q&A</span></a>
                {% endif %}
                {% if site.github.public %}
                {% if site.github.is_project_page %}
                <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on
                        GitHub</span></a>
                {% else %}
                <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
                {% endif %}
                {% endif %}
            </section>
            <hr>
            <section id="main_content">
                {{ content }}
            </section>

            <section id="version">
                <div class="version-item">
                    <div class="version-value" id="last-value">origin</div>
                    <div class="update-message">
                        <div class="update-details">Starting from two questions</div>
                        <div class="update-author">2020 · I had two questions regarding qualitative analysis when I was first exposed to qualitative analysis: 1) <strong>Subjectivity in Interpretation</strong>: Qualitative analysis is inherently subjective. I observed that individuals with different backgrounds
                        can have varying understandings or interpretations of the same data. This diversity in perspective was starkly different
                        from the more objective nature of technological solutions; 2) <strong>Time Consumption for Analysis</strong>: The process requires a
                        significant time investment, often spanning months, to analyze relatively small datasets. This seemed particularly
                        inefficient and unreasonable in an era where machines and AI can automate numerous tasks. This contrast between manual
                        analysis and technological efficiency was particularly striking for me at that time. </div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-value">found</div>
                    <div class="update-message">
                        <div class="update-details">A new discovery</div>
                        <div class="update-author">2021.08 · Found that the AI-assisted Collaborative Qualitative
                            Analysis is important but has yet to be explored in academia.</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-box">
                        <div></div>
                    </div>
                    <div class="update-message">
                        <div class="update-author">2021.12 · Finished CoAIcoder prototype development</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-value">
                        begin
                    </div>
                    <div class="update-message">
                        <div class="update-details">The first step: CoAIcoder</div>
                        <div class="update-author">2022.04 · Our study showed that while using a shared AI model as a
                            mediator among coders could improve CQA efficiency and foster
                            agreement more quickly in the early coding stage, it might affect the final code diversity.
                            This made us submit the
                            CoAIcoder manuscript to the TOCHI journal.</div>
                    </div>
                </div>
                <div class="version-item">
                    <!-- <div class="version-value"></div> -->
                    <div class="version-box">
                        <div></div>
                    </div>
                    <div class="update-message">
                        <!-- <div class="update-details">2022.09 · CollabCoder idea was proposed.</div> -->
                        <div class="update-author">2022.09 · CollabCoder idea was proposed.</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-box">
                        <div></div>
                    </div>
                    <div class="update-message">
                        <!-- <div class="update-details">update something</div> -->
                        <div class="update-author">2023.04 · CollabCoder paper was on arXiv.</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-box">
                        <div></div>
                    </div>
                    <div class="update-message">
                        <!-- <div class="update-details">update something</div> -->
                        <div class="update-author">2023.06 · <a
                                href="https://dl.acm.org/doi/full/10.1145/3617362">CoAIcoder paper</a> was accepted to the TOCHI
                            journal.</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-box">
                        <div></div>
                    </div>
                    <div class="update-message">
                        <!-- <div class="update-details">update something</div> -->
                        <div class="update-author">2023.10 · <a
                                href="https://dl.acm.org/doi/pdf/10.1145/3584931.3607500">CollabCoder demo</a> was
                            displayed at CSCW2023.</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-box">
                        <div></div>
                    </div>
                    <div class="update-message">
                        <!-- <div class="update-details">update something</div> -->
                        <div class="update-author">2024.01 · <a href="https://arxiv.org/abs/2304.07366">CollabCoder full paper</a> was accepted to CHI2024.</div>
                    </div>
                </div>
                <div class="version-item">
                    <div class="version-value active">now</div>
                    <div class="update-message">
                        <div class="update-details">Current progress</div>
                        <div class="update-author">2024.03 · CollabCoder's arXiv version gets 23 citations</div>
                    </div>
                </div>
            </section>


            <footer>
                If you encountered any questions in runing the code, please consider <a href="https://github.com/gaojie058/CollabCoder_system/issues">reporting an issue on Github</a>. 
            
                If you have any questions regarding this research, feel free to contact <a href="https://gaojie058.github.io/">Jie Gao</a> !
            </footer>

        </div>
    </div>
    <script>
        const versoionItem = document.querySelectorAll('.version-item');
        versoionItem.forEach((item, index) => {
            item.style.setProperty(`--height`, `${item.clientHeight}px`);
        })
    </script>
</body>

</html>